@import "tailwindcss";

@font-face {
  font-family: "MuseoModerno";
  src: url(./assets/fonts/MuseoModerno/MuseoModerno-Regular.ttf);
}
@font-face {
  font-family: "MuseoModerno-Light";
  src: url(./assets/fonts/MuseoModerno/MuseoModerno-Light.ttf);
}
@font-face {
  font-family: "MuseoModerno-Black";
  src: url(./assets/fonts/MuseoModerno/MuseoModerno-Black.ttf);
}
@font-feature-values 'MuseoModerno' {
  @styleset {
    alt: 1;
  }
}
@font-feature-values 'MuseoModerno-Black' {
  @styleset {
    h3-alt: 1;
  }
}

:root {
  --bg-color-dark: #494949;
  --bg-color-light: #f2f2f2;
  --text-color-dark: rgb(240, 240, 240);
  --text-color-light: rgb(10, 10, 10);
  --transition-time: 0.4s;
  --turquoise: #479796;
  --gold: #ba7954;
}
/* Light mode */
html.light {
  color: var(--text-color-light);
  transition:
    background-color var(--transition-time) ease,
    color var(--transition-time) ease;
}
/* Image en dark */
html.dark.dark-bg {
  background: var(--bg-color-dark) url("images/bandeau_moy_small.png") no-repeat
    top center;
  background-size: cover;
  height: 100vh;
}
/* Image en light */
html.light-bg {
  background: var(--bg-color-light) url("images/bandeau_light_small.png")
    no-repeat top center;
  background-size: cover;
  height: 100vh;
}
/* Dark mode */
html.dark {
  color: var(--text-color-dark);
}

.dark .nav-scrolled {
  background-color: rgba(
    73,
    73,
    73,
    0.9
  ) !important; /* #494949 avec 90% opacité */
}

* {
  font-family:
    "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-padding-top: 80px; /* Adapte selon la hauteur de ta navbar */
}

h1,
h2,
h3,
h4,
h5,
.alt,
.typewriter {
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
.alt {
  font-variant-alternates: styleset(alt);
}

/* ########### buttons ########### */
form button {
  background-color: var(--turquoise);
  color: var(--text-color-light);
  border: var(--text-color-light) solid 1px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 0px;
  text-align: center;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
form button:disabled {
  background-color: #9ca3af !important; /* Gris (équivalent gray-400) */
  cursor: not-allowed;
  transform: none; /* Empêche le bouton de bouger si on le survole pendant l'envoi */
  box-shadow: none; /* Optionnel : retire l'ombre pour montrer qu'il est inactif */
  opacity: 0.7;
}
form button:hover:not(:disabled) {
  background-color: var(--gold);
  transform: translateY(2px);
}

/* ########### hover ########### */
.navbar-brand:hover,
nav a:hover,
nav svg:hover,
.work-scope a:hover {
  color: var(--gold);
  fill: var(--gold);
  transform: translateY(2px);
}

/* ########### titre principal ########### */
h1 {
  font-size: 4rem;
  color: var(--gold);
  font-weight: bold;
  margin: 8rem 0;
}

/* ########### je m'appelle Caroline. ########### */
h2 {
  font-size: 3rem;
  z-index: 10;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* ########### brand navbar ########### */
.navbar-brand {
  color: var(--turquoise);
}
h3 {
  font-family:
    "MuseoModerno-black", "Century Gothic", "Segoe UI", Tahoma, Verdana,
    sans-serif;
  font-size: 2rem;
  margin-top: -0.5rem;
}
.h3-alt {
  font-family:
    "MuseoModerno-black", "Century Gothic", "Segoe UI", Tahoma, Verdana,
    sans-serif;
  font-variant-alternates: styleset(alt);
}
h4 {
  font-size: 0.76rem;
  margin-top: -0.76rem;
}

/* ########### titre projets & about & contact ########### */
h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about h5,
.contact h5 {
  color: var(--gold);
  font-weight: bold;
}

/* ########### navbar ########### */
nav a {
  color: var(--turquoise);
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
nav svg {
  fill: var(--turquoise);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

/* ########### section presentation ########### */
.presentation {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 4.5rem;
}

h1 span.code {
  font-size: 2.5rem;
  font-weight: normal;
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid var(--text-color-light); /* curseur */
  white-space: nowrap;
  animation:
    typing 2s steps(20, end),
    blink 1s step-end infinite;
}
/* effet d’écriture */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* curseur clignotant */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.presentation p,
.presentation p b {
  font-family:
    "MuseoModerno-light", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 1.5rem;
}
.presentation .intro,
.presentation .intro b {
  font-size: 2rem;
}

.image-profil,
.image-profil-2,
.image-profil-3,
.image-profil-4,
.image-profil-404 {
  display: block;
  position: absolute;
  top: 50%;
  bottom: inherit;
  right: 50%;
  height: 20rem;
  z-index: 5;
}
.image-profil {
  transform: translate(calc(-50% + 700px), calc(-50% - 100px));
}
.image-profil-2 {
  transform: translate(calc(-50% + 750px), calc(-50% - -300px));
}
.image-profil-3 {
  transform: translate(calc(-50% + -150px), calc(-50% - -300px));
}
.image-profil-4,
.image-profil-404 {
  transform: translate(calc(-50% + 775px), calc(-50% - 150px));
}

.presentation .buttons {
  padding-top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.presentation .buttons .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--turquoise);
  color: var(--text-color-light);
  border: var(--text-color-light) solid 1px;
  border-radius: 5px;
  margin-top: 0rem;
  padding: 1rem 1.5rem;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 0px;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
.presentation .buttons .button p {
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 1.25rem;
}
.presentation .buttons .button:hover {
  background-color: var(--gold);
  transform: translateY(2px);
}
.presentation .buttons svg:hover {
  color: var(--text-color-light);
  transform: none;
}
.presentation .buttons svg {
  height: 20px;
  width: 20px;
}
.btn-contact {
  display: none;
}

.presentation .arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-top: 4.5rem;
  color: var(--gold);
}
@keyframes blinkArrow {
  0%,
  100% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(8px);
  }
}
.animate-blink-arrow {
  animation: blinkArrow 1.5s infinite;
}

/* ########### section about ########### */
.about {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 4.5rem;
}
.about p {
  font-size: 1.5rem;
}
.about p b {
  font-family:
    "MuseoModerno-light", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 1.5rem;
}
.experience,
.competences-techniques {
  padding-top: 16vh;
}
.competences-techniques p {
  margin-bottom: 5rem;
}
.icones {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
.icones img,
.icones li {
  width: 80px;
  height: 80px;
}

/* ########### section contact ########### */
.contact {
  width: 70%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 4.5rem;
  padding: 8rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

.contact-form {
  width: 65%;
  margin-bottom: 0;
  order: 1;
}
.contact-info {
  width: 35%;
  margin-bottom: 0;
  order: 2;
}
.contact-info a {
  color: inherit;
  font-family:
    "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact-info .work-scope {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
}
.contact-info .work-scope a {
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
.contact-info .work-scope p {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.contact-info svg {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: var(--turquoise);
}
.contact-info .response-time {
  color: var(--turquoise);
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 2rem 0 0 0;
}
