@import "tailwindcss";

@font-face {
  font-family: "MuseoModerno";
  src: url(./assets/fonts/MuseoModerno/MuseoModerno-Regular.ttf);
}
@font-face {
  font-family: "MuseoModerno-Light";
  src: url(./assets/fonts/MuseoModerno/MuseoModerno-Light.ttf);
}
@font-face {
  font-family: "MuseoModerno-Black";
  src: url(./assets/fonts/MuseoModerno/MuseoModerno-Black.ttf);
}
@font-feature-values 'MuseoModerno' {
  @styleset {
    alt: 1;
  }
}
@font-feature-values 'MuseoModerno-Black' {
  @styleset {
    h3-alt: 1;
  }
}

:root {
  --bg-color-dark: #494949;
  --bg-color-light: #f2f2f2;
  --text-color-dark: rgb(240, 240, 240);
  --text-color-light: rgb(10, 10, 10);
  --transition-time: 0.4s;
  --turquoise: #479796;
  --gold: #ba7954;
}
/* Light mode */
html.light {
  color: var(--text-color-light);
  transition:
    background-color var(--transition-time) ease,
    color var(--transition-time) ease;
}
/* Image en dark */
html.dark.dark-bg {
  background: var(--bg-color-dark) url("images/bandeau_moy_small.png") no-repeat
    top center;
  background-size: cover;
  height: 100vh;
}
/* Image en light */
html.light-bg {
  background: var(--bg-color-light) url("images/bandeau_light_small.png")
    no-repeat top center;
  background-size: cover;
  height: 100vh;
}
/* Dark mode */
html.dark {
  color: var(--text-color-dark);
}
.mobile-tab-bar {
  background-color: rgba(242, 242, 242, 0.8); /* Couleur light par défaut */
}

.dark .mobile-tab-bar {
  background-color: rgba(73, 73, 73, 0.8); /* Couleur dark */
}

.dark .nav-scrolled {
  background-color: rgba(
    73,
    73,
    73,
    0.9
  ) !important; /* #494949 avec 90% opacité */
}

* {
  font-family:
    "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-padding-top: 80px; /* Adapte selon la hauteur de ta navbar */
}

h1,
h2,
h3,
h4,
h5,
.alt,
.typewriter {
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
.alt {
  font-variant-alternates: styleset(alt);
}

/* ########### titre principal ########### */
h1 {
  font-size: 1.75rem;
  color: var(--gold);
  font-weight: bold;
  padding: 8rem 0;
}
h1 span.code {
  font-size: 1.25rem;
  font-weight: normal;
}

/* ########### je m'appelle Caroline. ########### */
h2 {
  font-size: 1.75rem;
  z-index: 10;
  margin-bottom: 2rem;
  font-weight: bold;
}

/* ########### brand navbar ########### */
.navbar-brand {
  color: var(--turquoise);
}
h3 {
  font-family:
    "MuseoModerno-Black", "Century Gothic", "Segoe UI", Tahoma, Verdana,
    sans-serif;
  font-size: 2rem;
  margin-top: -0.5rem;
}
.h3-alt {
  font-family:
    "MuseoModerno-Black", "Century Gothic", "Segoe UI", Tahoma, Verdana,
    sans-serif;
  font-variant-alternates: styleset(h3-alt);
}
h4 {
  font-size: 0.8rem;
  margin-top: -0.8rem;
}

/* ########### titre services & projets & about & contact ########### */
h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.services h5,
.about h5,
.contact h5 {
  color: var(--gold);
  font-weight: bold;
}

/* ########### navbar ########### */
nav a {
  color: var(--turquoise);
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: bold;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
nav svg {
  fill: var(--turquoise);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
}
.mobile-nav-link.active svg {
  fill: var(--gold);
}

/* ########### section presentation ########### */
.presentation {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
  text-align: center;
}
.presentation-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.image-profil-home,
.image-profil-services,
.image-profil-realisations,
.image-profil-about,
.image-profil-contact,
.image-profil-404 {
  display: none;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid var(--text-color-light); /* curseur */
  white-space: nowrap;
  animation:
    typing 2s steps(20, end),
    blink 1s step-end infinite;
}
/* effet d’écriture */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* curseur clignotant */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.presentation p,
.presentation p b {
  font-family:
    "MuseoModerno-light", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 1.5rem;
}
.presentation .intro,
.presentation .intro b {
  font-size: 1.5rem;
}

.presentation .arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-top: 4.5rem;
  color: var(--gold);
}

.buttons {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  width: fit-content;
  margin: auto;
}
.buttons .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--turquoise);
  color: var(--text-color-light);
  border: var(--text-color-light) solid 1px;
  border-radius: 5px;
  margin-top: 0rem;
  padding: 0.5rem 0.75rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 0px;
}
.buttons .button p {
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 0.8rem;
}
.buttons svg {
  height: 20px;
  width: 20px;
}

/* ########### section services ########### */
.services {
  width: 90%;
  padding-top: 26vh;
}

/* ########### section realisations ########### */
.realisations {
  width: 90%;
}
.project-subtitle {
  font-size: 1.75rem;
}

/* ########### section about ########### */
.about {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 26vh;
}
.about p {
  font-size: 1rem;
}
.about p b {
  font-family:
    "MuseoModerno-light", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 1rem;
}
.experience,
.competences-techniques {
  padding-top: 16vh;
}
.competences-techniques p {
  margin-bottom: 5rem;
}
.icones {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}
.icones img,
.icones li {
  width: 60px;
  height: 60px;
}

/* ########### section contact ########### */
.contact {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  text-align: center;
  padding-top: 26vh;
}
.contact-info a {
  font-family:
    "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact-info .work-scope {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
}
.contact-info .work-scope p {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.contact-info svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  color: var(--turquoise);
}
.contact-info .response-time {
  color: var(--turquoise);
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 2rem 0 0 0;
}

/* ########### form buttons ########### */
form button {
  background-color: var(--turquoise);
  color: var(--text-color-light);
  border: var(--text-color-light) solid 1px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  font-family:
    "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 0px;
  text-align: center;
}
form button:disabled {
  background-color: #9ca3af !important; /* Gris (équivalent gray-400) */
  cursor: not-allowed;
  box-shadow: none; /* Optionnel : retire l'ombre pour montrer qu'il est inactif */
  opacity: 0.7;
}

/* ################################################# */
/* #################### DESKTOP #################### */
/* ################################################# */
@media screen and (min-width: 768px) {
  /* ########### hover ########### */
  .navbar-brand:hover,
  header a:hover,
  header svg:hover,
  .work-scope a:hover {
    color: var(--gold);
    fill: var(--gold);
    transform: translateY(2px);
  }

  /* ########### titre principal ########### */
  h1 {
    font-size: 3.5rem;
  }
  h1 span.code {
    font-size: 2rem;
  }

  /* ########### je m'appelle Caroline. ########### */
  h2 {
    font-size: 2rem;
  }

  /* ########### titre projets & about & contact ########### */
  h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  /* ########### navbar ########### */
  header a {
    color: var(--turquoise);
    font-family:
      "MuseoModerno", "Century Gothic", "Segoe UI", Tahoma, Verdana, sans-serif;
    font-weight: bold;
    transition:
      transform 0.2s ease,
      color 0.2s ease;
  }
  header a.active {
    color: var(--gold);
  }
  header svg {
    fill: var(--turquoise);
    cursor: pointer;
    transition:
      transform 0.2s ease,
      color 0.2s ease;
  }

  /* ########### section presentation ########### */
  .presentation .intro,
  .presentation .intro b {
    font-size: 2rem;
  }

  .buttons .button {
    padding: 1rem 1.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 0px;
    transition:
      transform 0.2s ease,
      color 0.2s ease;
  }
  .buttons .button p {
    font-size: 1.25rem;
  }
  .buttons .button:hover {
    background-color: var(--gold);
    transform: translateY(2px);
  }
  .buttons svg:hover {
    color: var(--text-color-light);
    transform: none;
  }
  .buttons svg {
    height: 24px;
    width: 24px;
  }

  /* ########### section services ########### */
  .services {
    width: 90%;
  }

  /* ########### section realisations ########### */
  .realisations {
    width: 90%;
  }

  /* ########### section about ########### */
  .about {
    width: 90%;
    text-align: justify;
  }
  .about p {
    font-size: 1.5rem;
  }
  .about p b {
    font-size: 1.5rem;
  }
  .icones img,
  .icones li {
    width: 70px;
    height: 70px;
  }

  /* ########### section contact ########### */
  .contact {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .contact-form {
    width: 65%;
    margin-bottom: 0;
    order: 1;
  }
  .contact-info {
    width: 35%;
    margin-bottom: 0;
    order: 2;
  }
  .contact-info .work-scope a {
    transition:
      transform 0.2s ease,
      color 0.2s ease;
  }
  .contact-info .work-scope p {
    justify-content: left;
  }

  /* ########### form buttons ########### */
  form button {
    transition:
      transform 0.2s ease,
      color 0.2s ease;
  }
  form button:disabled {
    transform: none;
  }
  form button:hover:not(:disabled) {
    background-color: var(--gold);
    transform: translateY(2px);
  }
}

@media screen and (min-width: 1024px) {
  /* ########### titre principal ########### */
  h1 {
    font-size: 3.5rem;
    padding: 5rem 0;
  }

  h1 span.code {
    font-size: 2rem;
  }

  /* ########### je m'appelle Caroline. ########### */
  h2 {
    font-size: 2.5rem;
  }

  /* ########### section presentation ########### */
  .presentation {
    height: calc(100vh - 55px);
    position: relative;
    text-align: justify;
  }
  .presentation-container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .image-profil-home,
  .image-profil-services,
  .image-profil-realisations,
  .image-profil-about,
  .image-profil-contact {
    display: block;
    position: absolute;
    height: 12rem;
    z-index: 10;
  }
  .image-profil-home,
  .image-profil-services,
  .image-profil-about,
  .image-profil-contact {
    right: 0;
  }
  .image-profil-realisations {
    left: 0;
  }
  .image-profil-home {
    top: 15%;
  }
  .image-profil-about {
    top: 10%;
  }
  .image-profil-services,
  .image-profil-realisations,
  .image-profil-contact {
    bottom: 0;
  }

  .presentation .intro,
  .presentation .intro b {
    font-size: 1.5rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .buttons .button p {
    font-size: 1rem;
  }
  .buttons svg {
    height: 22px;
    width: 22px;
  }

  /* ########### section services ########### */
  .services {
    width: 70%;
    padding-top: 18vh;
  }

  /* ########### section realisations ########### */
  .realisations {
    width: 70%;
  }

  /* ########### section about ########### */
  .about {
    width: 70%;
    padding-top: 18vh;
  }
  .icones img,
  .icones li {
    width: 70px;
    height: 70px;
  }

  /* ########### section contact ########### */
  .contact {
    width: 70%;
    padding-top: 18vh;
  }
  .contact-form {
    width: 55%;
  }
  .contact-info {
    width: 45%;
  }
}

@media screen and (min-width: 1440px) {
  /* ########### titre principal ########### */
  h1 {
    font-size: 4rem;
    padding: 8rem 0;
  }
  h1 span.code {
    font-size: 2.5rem;
  }

  /* ########### je m'appelle Caroline. ########### */
  h2 {
    font-size: 3rem;
  }

  /* ########### section presentation ########### */
  .presentation-container {
    width: 60%;
  }
  .image-profil-home,
  .image-profil-services,
  .image-profil-realisations,
  .image-profil-about,
  .image-profil-contact {
    height: 20rem;
  }
  .image-profil-about {
    top: 5%;
  }

  .presentation .intro,
  .presentation .intro b {
    font-size: 2rem;
  }

  .buttons {
    padding-top: 6rem;
  }

  /* ########### section services ########### */
  .services {
    width: 60%;
  }

  /* ########### section realisations ########### */
  .realisations {
    width: 60%;
  }

  /* ########### section about ########### */
  .about {
    width: 60%;
  }
  .icones img,
  .icones li {
    width: 80px;
    height: 80px;
  }

  /* ########### section contact ########### */
  .contact {
    width: 60%;
  }
  .contact-form {
    width: 55%;
  }
  .contact-info {
    width: 45%;
  }
}

@media screen and (min-width: 1920px) {
  .presentation-container,
  .about {
    width: 50%;
  }
}
